/**********************************/
/**********************************/
/* Font family */
/* GRAY BAGROUND COLOR */
/* HEADER BAGROUND COLOR */
/* BUTTON COLORS */
/* BORDER COLORS */
/* FONT COLORS */
.results-list {
  width: 100%;
  background-color: #F1F3F2; }
  .results-list .result {
    display: flex;
    border: solid 1px white;
    margin-bottom: 20px; }
    .results-list .result__details {
      background-color: #F1F3F2;
      flex-basis: 75%;
      width: 100%; }
      .results-list .result__details__row {
        display: flex;
        height: 150px; }
        .results-list .result__details__row:nth-child(2) {
          padding-top: 10px; }
        .results-list .result__details__row__item {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          flex: 1; }
        .results-list .result__details__row__left {
          text-align: right;
          background-color: white; }
          .results-list .result__details__row__left .detail-text {
            display: flex;
            justify-content: flex-end;
            padding: 10px; }
            .results-list .result__details__row__left .detail-text p {
              padding: 0 10px; }
              .results-list .result__details__row__left .detail-text p:first-child {
                font-size: 14px;
                align-self: flex-end; }
            .results-list .result__details__row__left .detail-text:first-child {
              border-bottom: solid 1px #F1F3F2; }
          @media screen and (max-width: 800px) {
            .results-list .result__details__row__left .detail-text {
              flex-direction: column; } }
        .results-list .result__details__row__center {
          text-align: center;
          background-color: #F1F3F2;
          align-items: center; }
          .results-list .result__details__row__center .detail-text {
            display: flex;
            padding: 10px; }
            .results-list .result__details__row__center .detail-text p {
              padding: 0 10px; }
              .results-list .result__details__row__center .detail-text p:first-child {
                font-size: 14px;
                align-self: flex-end; }
            .results-list .result__details__row__center .detail-text:first-child {
              border-bottom: solid 1px #F1F3F2; }
          @media screen and (max-width: 800px) {
            .results-list .result__details__row__center .detail-text {
              flex-direction: column; } }
        .results-list .result__details__row__right {
          text-align: left;
          background-color: white; }
          .results-list .result__details__row__right .detail-text {
            display: flex;
            padding: 10px; }
            .results-list .result__details__row__right .detail-text p {
              padding: 0 10px; }
              .results-list .result__details__row__right .detail-text p:nth-child(2) {
                font-size: 14px;
                align-self: flex-end; }
            .results-list .result__details__row__right .detail-text:first-child {
              border-bottom: solid 1px #F1F3F2; }
          @media screen and (max-width: 800px) {
            .results-list .result__details__row__right .detail-text {
              flex-direction: column-reverse; }
              .results-list .result__details__row__right .detail-text p:nth-child(2) {
                align-self: flex-start; } }
    .results-list .result__side {
      flex-basis: 25%;
      padding: 20px 0;
      text-align: right;
      background-color: #F1F3F2;
      padding: 20px 20px 0 20px;
      margin-top: auto; }
      .results-list .result__side button {
        float: right; }
    @media screen and (max-width: 800px) {
      .results-list .result {
        display: block; }
      .results-list .result .result__side {
        height: 150px; } }

/*# sourceMappingURL=style-results.css.map */
