/**********************************/
//		Profile style
/**********************************/

.view-profile {
	// display: flex;
}

.profile-wrapper {

	height: 100%;
	width: 100%;

	.profile-infoBox{

		margin-top: 10px;
		padding: 20px;
		

		background-color: white;

		&__text{


			p {
				
			}

			input {

				margin-bottom: 10px;
			}

		}		

	}

}


