/**********************************/
//		Main style
/**********************************/

@import 'constans/style-fonts';
@import 'constans/style-colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-size: 1em;

	font-family: $primary-font-family;


	h1 {
		font-size: 32px;
		font-size: 2em;
		font-weight: lighter;
	}

	p {
		font-size: 16px;
		font-size: 1em;
		font-weight: lighter;
	}

}

body {
	width: 100vw;
	height: 100vh;
	font-family: $primary-font-family;
	overflow-x: hidden;
}
button {
	cursor: pointer;
    display: block;
    width: 100%;
    line-height: 1.13;
    padding: 10px 16px;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    margin: 10px 0;
    outline: none;
}
.link{
		cursor: pointer;
}
.btnSuccess {
	color: $primary-btn-font-color;
	background-color: $primary-btn-color;
	transition: .5s;
	&:hover {
		background-color: #3B8C71;
	}
}
.btnDanger {
	color: $primary-btn-font-color;
	background-color: $secondary-btn-color;
	transition: .5s;
	&:hover {
		background-color: #B5394E;
	}
}

input {
	width: 100%;
	position: relative;
	padding: 10px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

.inpFirst {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	&:focus {
		z-index: 2;
	}
}
.inpMiddle {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: -1px;
	&:focus {
		z-index: 3;
	}
}
.inpLast {
	
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.box {
	-moz-box-shadow: 0 7px 36px -13px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 7px 36px -13px rgba(0,0,0,.2);
	box-shadow: 0 7px 36px -13px rgba(0,0,0,.2);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f7f7f7;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
}


.wrapper-main {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $backgound-color;
}

.view {
	height: 100%;
	width: 100%;
	padding: 20px;
	display: none;
}


@media screen and ( min-width: 800px ) {
	.wrapper-main{
		background-color: $backgound-color;
	}

}

@media screen and ( min-width: 1200px ) {
	.view {
		padding: 20px 0;
	}

}

