/**********************************/
//		Header style
/**********************************/

@import 'constans/style-fonts';
@import 'constans/style-colors';

header{
	display: flex;
    padding: 0px 20px;
	width: 100%;
	height: 60px;
	background: $backgound-color-header;
	box-shadow: 10px 0px 30px $border-gray;
    border: solid 1px $border-gray;
	z-index: 1;
	.wrapper-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.icons {
			.fa {
				font-size: 30px;
				margin-right: 10px;
			}
		}
		img {
			max-height: 50px;
			
		}
	}	
}
