

/* GRAY BAGROUND COLOR */
$backgound-color: #F1F3F2;


/* BUTTON COLORS */
$primary-btn-color: #4CB897;
$secondary-btn-color: #EE445E;
$primary-btn-font-color: #FFFFFF;


/* FONT COLORS */
$primary-font-color: #444444;


